.criterion {

  background-color: #81b3d2;
  color           : white;
}

.criterion__city {
  font-size  : 18px;
  line-height: 26px;
}

.criterion__number {
  font-size  : 14px;
  line-height: 21px;
}

.criterion__text {
  font-size  : 14px;
  line-height: 21px;
}
