.criterion {
  background-color: @color-blue-background;
  color: white;
}

.criterion__city {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.criterion__number {
  font-size: 14px;
  line-height: 21px;
}

.criterion__text {
  font-size: 14px;
  line-height: 21px;
}
