.fifth-criterion {
  background-color: @color-gray-backround;
}

.fifth-criterion__tourist {
  display: block;
  padding-top: 31px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.fifth-criterion__number {
  margin: 0;
  padding-top: 9px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}

.fifth-criterion__text {
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}
@media(min-width:@tablet-width){
  .fifth-criterion {
    width: 256px;
  }
  .fifth-criterion__tourist {
    display: block;
    padding-top: 43px;
    padding-left: 60px;
    padding-right: 59px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }

  .fifth-criterion__number {
    margin: 0;
    padding-top: 12px;
    font-size: 14px;
    line-height: 21px;
    color: @color-gray-color;
    text-align: center;
  }

  .fifth-criterion__text {
    padding-top: 7px;
    padding-left: 41px;
    padding-right: 40px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    color: @color-gray-color;
    text-align: center;
  }
}
@media(min-width:@desktop-width){

  .fifth-criterion {
    width: 400px;
  }

  .fifth-criterion__tourist {
    display: block;
    padding-top: 45px;
    padding-left: 130px;
    padding-right: 128px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }

  .fifth-criterion__number {
    margin: 0;
    padding-top: 12px;
    font-size: 14px;
    line-height: 21px;
    color: @color-gray-color;
    text-align: center;
  }

  .fifth-criterion__text {
    padding-top: 7px;
    padding-left: 41px;
    padding-right: 40px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    color: @color-gray-color;
    text-align: center;
  }

}
