
.fourth-criterion__road {
  display: block;
  padding-top: 29px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.fourth-criterion__number {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}

.fourth-criterion__text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}
@media(min-width:@tablet-width){


  .fourth-criterion__road {
    display: block;
    padding-top: 43px;
    padding-left: 49px;
    padding-right: 49px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }

  .fourth-criterion__number {
    margin: 0;
    padding-top: 12px;
    font-size: 14px;
    line-height: 21px;
    color: @color-gray-color;
    text-align: center;
  }

  .fourth-criterion__text {
    padding-top: 7px;
    padding-left: 57px;
    padding-right: 57px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    color: @color-gray-color;
    text-align: center;
  }
}
@media(min-width:@desktop-width){

  .fourth-criterion__road {
    display: block;
    padding-top: 44px;
    padding-left: 125px;
    padding-right: 123px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }

  .fourth-criterion__number {
    margin: 0;
    padding-top: 12px;
    font-size: 14px;
    line-height: 21px;
    color: @color-gray-color;
    text-align: center;
  }

  .fourth-criterion__text {
    padding-top: 7px;
    padding-left: 65px;
    padding-right: 64px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    color: @color-gray-color;
    text-align: center;
  }
}
