.page-footer {
  width: 320px;
  margin: 0 auto;
}
.social__text {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.social__list {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 18px;
  padding-left: 5px;
  list-style: none;
}

.copyright {
  position: relative;
  display: flex;

}

.copyright__text {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-top: 15px;
  padding-left: 95px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

}
.copyright__link {
  position: absolute;
  top: 25px;
  right: 96px;

}

.social__item a{
  position: relative;
  display: flex;
  min-width: 46px;
  min-height: 46px;
  margin-right: 6px;
  background-color:@color-blue-background;

}
.social__link--twitter::before {

  content: "";
    position: absolute;
    top: 16px;
    left: 15px;
    width: 18px;
    height: 14px;
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: 0 0;


}
.social__link--facebook::before {
  content: "";
    position: absolute;
    top: 13px;
    left: 19px;
    width: 9px;
    height: 18px;
    background-image: url(../img/icon-facebook.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.social__link--youtube::before {

  content: "";
    position: absolute;
    top: 16px;
    left: 15px;
    width: 20px;
    height: 14px;
    background-image: url(../img/icon-youtube.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

@media (min-width: @tablet-width) {
.page-footer {
  display: flex;
  justify-content:space-between;
  width: @tablet-width;
 }
.social {
  display: flex;
 }


}
@media(min-width:@desktop-width) {
.page-footer {

  width: @desktop-width;
 }
}
