.page-header {
  display:flex;
  flex-direction: column;
  margin:0 auto;
  width: 320px;
}
.page-header__logo {
  order: 2;
  margin: 0 auto;
  z-index: 1;
}
@media (min-width: @tablet-width) {
.page-header {
  width: @tablet-width;
  }
  .page-header__logo {
   margin-top: -56px;
  }

}

@media (min-width:@desktop-width) {
.page-header {
  width: @desktop-width;
  }
}
