.photo-video {
  width: 320px;
  margin: 0 auto;
}
.photo-video__slogan {
  font-size  : 18px;
  line-height: 26px;
}

.photo-video__intro {
  font-size  : 14px;
  line-height: 21px;
}
@media (min-width: @tablet-width) {
  .photo-video {
    width: @tablet-width;
  }
  .photo-video__image {
    width: @tablet-width;
  }
}
@media (min-width: @desktop-width) {
  .photo-video {
    width: @desktop-width;
  }
  .photo-video__image {
    width: @desktop-width;
  }
}
