.recall-error {
  display         : none;
  position        : fixed;
  z-index         : 20;
  top             : 3px;
  left            : 74%;
  width           : 320px;
  margin-left     : -310px;
  background-color: @color-white-background;
  border-left     : 1px solid @color-gray-background ;
  box-shadow      : 0px 9px 0px rgba(0, 0, 0, .20; )
}

.recall-error__container {
  padding-top  : 38px;
  padding-left : 56px;
  padding-right: 57px;
}

.recall-error__heading {
  margin        : 0;
  padding-bottom: 28px;
  font-size     : 18px;
  line-height   : 26px;
  font-weight   : bold;
  font-family   : PT Sans;
  text-align    : center;
}

.recall-error__text {
  margin        : 0;
  font-size     : 14px;
  line-height   : 24px;
  text-align    : center;
  color         : @color-gray-color ;
  text-transform: uppercase;
}

.recall-error__button {
  margin-top      : 20px;
  margin-left     : 70px;
  margin-bottom   : 33px;
  padding-top     : 17px;
  padding-right   : 77px;
  padding-bottom  : 16px;
  padding-left    : 79px;
  font-size       : 18px;
  line-height     : 26px;
  font-weight     : bold;
  font-family     : PT Sans;
  border          : none;
  outline         : 0;
  color           : @color-white-color;
  background-color: @color-blue-background ;
}

.recall-error__button:hover {
  background-color: @color-blue-hover ;
}

.recall-error__button:active {
  color           : rgba(255, 255, 255, .3);
  background-color: @color-blue-activ;
}
