.recreation {
  width: 320px;
  margin: 0 auto;
}

.recreation__housing {
  display: block;
  padding-top: 15px;
  padding-left: 52px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.recreation__souvenir {
  display: block;
  padding-top: 29px;
  padding-left: 52px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.recreation__food {
  display: block;
  padding-top: 29px;
  padding-left: 52px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.recreation__housing-text {
  margin: 0;
  margin-top: 13px;
  padding-left: 53px;
  padding-right: 22px;
  color:@color-gray-color;
  font-size: 14px;
  line-height: 21px;
}
.recreation__souvenir-text {
  margin: 0;
  margin-top: 15px;
  padding-left: 53px;
  padding-right: 22px;
  color:@color-gray-color;
  font-size: 14px;
  line-height: 21px;
}
.recreation__food-text {
  margin: 0;
  margin-top: 13px;
  padding-left: 53px;
  padding-right: 22px;
  color:@color-gray-color;
  font-size: 14px;
  line-height: 21px;
}

.recreation__list {

  padding: 0;
  padding-left: 18px;
  padding-bottom: 23px;
  list-style: none;
}
.recreation__item-housing {
  position: relative;
}

.recreation__item-housing::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 37px;
  height: 36px;
  background-image: url(../img/icon-house.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.recreation__item-souvenir {
  position: relative;
}
.recreation__item-souvenir::before{

  content: "";
  position: absolute;
  top: 18px;
  left: 8px;
  width: 32px;
  height: 38px;
  padding-left: 7px;
  background-image: url(../img/icon-gift.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.recreation__item-food {
  position: relative;
}
.recreation__item-food::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 1px;
  width: 40px;
  height: 35px;
  background-image: url(../img/icon-burger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (min-width: @tablet-width){
.recreation{
  position: relative;
  width:@tablet-width;
  }

.recreation__list{
  display: flex;
  padding: 0;
  }
  .recreation__housing {
    display: block;
    padding-top: 143px;
    padding-left: 94px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }

  .recreation__souvenir {
    display: block;
    padding-top: 143px;
    padding-left: 1px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
  }

  .recreation__food {
    display: block;
    padding-top: 143px;
    padding-left: 1px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
  }

  .recreation__housing-text {
    margin: 0;
    margin-top: 22px;
    padding-left: 48px;
    padding-right: 49px;
    color:@color-gray-color;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .recreation__souvenir-text {
    margin: 0;
    margin-top: 22px;
    padding-left: 48px;
    padding-right: 44px;
    color:@color-gray-color;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .recreation__food-text {
    margin: 0;
    margin-top: 22px;
    padding-left: 50px;
    padding-right: 49px;
    color:@color-gray-color;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  .recreation__item-housing {
    position: relative;
    width: 256px;
    padding-bottom: 46px
  }

  .recreation__item-housing::before {
    content: "";
    position: absolute;
    top: 44px;
    left: 91px;
    width: 75px;
    height: 72px;
    background-image: url(../img/icon-house.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .recreation__item-souvenir {
    position: absolute;
    top: 0;
    right: 0;

    width: 256px;
    padding-bottom: 46px
  }
  .recreation__item-souvenir::before{
    content: "";
    position: absolute;
    top: 41px;
    left: 95px;
    width: 64px;
    height: 75px;
    background-image: url(../img/icon-gift.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .recreation__item-food {
    position: relative;
    width: 256px;
    padding-bottom: 46px
  }
  .recreation__item-food::before {
    content: "";
    position: absolute;
    top: 49px;
    left: 90px;
    width: 77px;
    height: 68px;
    background-image: url(../img/icon-burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

}
@media(min-width:@desktop-width){
.recreation {
  width: @desktop-width;
  }


  .recreation__housing-text {

    margin-top: 22px;
    padding-left: 48px;
    padding-right: 49px;

  }
  .recreation__souvenir-text {
    padding-left: 114px;
    padding-right: 94px
  }
  .recreation__food-text {
    margin-top: 22px;
    padding-left: 50px;
    padding-right: 49px;

  }
  .recreation__housing {

    padding-top: 141px;
    padding-left: 166px;

  }

  .recreation__souvenir {

    padding-top: 141px;
    padding-left: 0px;

  }

  .recreation__food {

    padding-top: 141px;
    padding-left: 6px;

  }
  .recreation__item-housing {
    position: relative;
    width: 400px;
    padding-bottom: 67px;
  }

  .recreation__item-housing::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 162px;
    width: 75px;
    height: 72px;
    background-image: url(../img/icon-house.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .recreation__item-souvenir {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    padding-bottom: 67px;
  }
  .recreation__item-souvenir::before{

    content: "";
    position: absolute;
    top: 39px;
    left: 167px;
    width: 64px;
    height: 75px;
    background-image: url(../img/icon-gift.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .recreation__item-food {
    position: relative;
    width: 400px;
    padding-bottom: 67px;
  }
  .recreation__item-food::before {
    content: "";
    position: absolute;
    top: 47px;
    left: 161px;
    width: 77px;
    height: 68px;
    background-image: url(../img/icon-burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

}
