.second-criterion {

  width: 0 auto;
  background-color: @color-blue-background;
  color           : @color-white-color;
}
.second-criterion__list{
  list-style: none;
  padding-top: 45px;
   padding-right: 31px;
   padding-bottom: 42px;
   padding-left: 30px;
}

.second-criterion__bridge {
  font-size  : 18px;
  line-height: 26px;
}

.second-criterion__number {
  font-size  : 14px;
  line-height: 21px;
}

.second-criterion__text {
  font-size  : 14px;
  line-height: 21px;
}
@media(min-width:@tablet-width) {
  .second-criterion {
    width: 768px;
  }
  .second-criterion__wrapper {
    display: flex;
  }
  .second-criterion__list {
    width: 256px;
    padding-top: 50px;
   padding-right: 51px;
   padding-bottom: 47px;
   padding-left: 51px;
  }
  .second-criterion__image {
   width: 512px;
  }

}
@media(min-width:@desktop-width) {
  .second-criterion {
  width: 1200px;
  }
  .second-criterion__list {
    width: 400px;
    padding-top: 58px;
   padding-right: 93px;
   padding-bottom: 60px;
   padding-left: 94px;
  }
  .second-criterion__image {
   width: 800px;
  }
}

