.second-criterion {
  width: 320px;
  height: 453px;
  margin: 0 auto;
  background-color: @color-blue-background;
  color: @color-white-color;
}

.second-criterion__container {
  padding-top: 39px;
  padding-right: 31px;
  padding-bottom: 27px;
  padding-left: 30px;
}

.second-criterion__bridge {
  display: block;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.second-criterion__number {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.second-criterion__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

@media(min-width:@tablet-width) {
  .second-criterion {
    width: @tablet-width;
    height: auto;
  }
  .second-criterion__wrapper {
    display: flex;
    height: 256px;
  }
  .second-criterion__bridge {
    display: block;
    padding-left: 4px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }

  .second-criterion__number {
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  .second-criterion__text {
    padding-top: 10px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .second-criterion__container{
    width: 256px;
    padding-top: 43px;
    padding-right: 51px;
    padding-bottom: 47px;
    padding-left: 51px;
    order: 2;
  }

  .second-criterion__image {
    width: 512px;
  }
}
@media(min-width:@desktop-width) {
  .second-criterion {
    width: @desktop-width;
  }
  .second-criterion__bridge {
    display: block;
    padding-left: 41px;
    padding-right: 39px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }

  .second-criterion__number {
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  .second-criterion__text {
    padding-top: 9px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .second-criterion__container{
    width: 256px;
    padding-top: 53px;
    padding-right: 87px;
    padding-bottom: 47px;
    padding-left: 83px;
    order: 2;
  }

  .second-criterion__list {
    width: 400px;
    padding-top: 58px;
    padding-right: 93px;
    padding-bottom: 60px;
    padding-left: 94px;
  }

  .second-criterion__image {
    width: 800px;
  }
}

