.sedona-advantages {
  width: 320px;
  margin: 0 auto;
}

.sedona-advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media(min-width:@tablet-width){
  .sedona-advantages {
    width: @tablet-width;
  }
  .sedona-advantages__list {
    display: flex;
  }
}

@media(min-width:@desktop-width){
  .sedona-advantages {
    width: @desktop-width;
  }
}
