.sedona-advantages {
  width: 320px;
  margin: 0 auto;
}

.sedona-advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.third-criterion {
  background-color: @color-gray-backround;
}

.third-criterion__area {
  display: block;
  padding-top: 21px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.third-criterion__number {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}

.third-criterion__text {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}

.fifth-criterion {
  background-color: @color-gray-backround;
}

.fifth-criterion__tourist {
  display: block;
  padding-top: 31px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.fifth-criterion__number {
  margin: 0;
  padding-top: 9px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}

.fifth-criterion__text {
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}
.fourth-criterion {
  background-color: @color-gray-backround;
}
.fourth-criterion__road {
  display: block;
  padding-top: 29px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.fourth-criterion__number {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}

.fourth-criterion__text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 21px;
  color: @color-gray-color;
  text-align: center;
}

@media(min-width:@tablet-width){
  .sedona-advantages {
    width: @tablet-width;
  }
  .sedona-advantages__list {
    display: flex;
  }
  .third-criterion {
    width: 256px;
  }
  .fifth-criterion {
    width: 256px;
  }
  .fourth-criterion {
    width: 256px;
  }
}
@media(min-width:@desktop-width){
  .sedona-advantages {
    width: @desktop-width;
  }
  .third-criterion {
    width: 400px;
  }
  .fifth-criterion {
    width: 400px;
  }
  .fourth-criterion {
    width: 400px;
  }
}
