.third-criterion {
  width: 320px;
  margin: 0 auto;
  background-color: @color-gray-backround;
}

.third-criterion__area {
  font-size  : 18px;
  line-height: 26px;
}

.third-criterion__number {
  font-size  : 14px;
  line-height: 21px;
}

.third-criterion__text {
  font-size  : 14px;
  line-height: 21px;
}
