@color-blue-background: #81b3d2;
@color-gray-background: #eeeeee;
@color-white-background: #fff;
@color-black-bg: #000;
@color-white-bg: #f2f2f2;
@color-grey-bg: #e6e6e6;
@color-white-hover: #e5e5e5;
@color-white-activ: #d5d5d5;
@color-blue-hover: #669ec0;
@color-blue-activ: #5496bd;
@color-black-fill: #000000;
@color-white-color: #ffff;
@color-gray-color: #696969;
@color-gray:#5c6870;
@color-black: #000;
@color-blue: #81b3d2;
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

