@color-blue-background: #81b3d2;
@color-gray-background: #eeeeee;
@color-white-background:#fff;
@color-white-bg:#f2f2f2;
@color-grey-bg:#e6e6e6;
@color-white-color: #ffff;
@color-gray-color:#696969;
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

